
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap";


.article-contenido{
	/*background-color: #0B2F3A;
	196076
	25637A
	255A7A
	1A5B6F
	1A4A68
	194763
	*/
	background-color:#194763;
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px;
	font-family: Arial;
}

.article-principal{
	/*background-color: #0B2161;*/
	/*background-color:#0B2F3A;*/
	font-weight: 700;
	color: #FFFFFF;
	padding: 10px;
	font-family: Arial;
}


.nota_etiqueta{
	position: absolute;
	background-color: #690;
	color: #FFFFFF;
	padding: 3px;
	border-bottom-right-radius: 18%;
}

.nav-link-c
{
	color: #FFFFFF;
}

.tipo_noticia
{

}

.title_article
{
	font-family: "Georgia";
	font-weight: bold;
	font-size: 2.2rem;
}

@media(max-width:768px){
	.title_article h1{
		font-size: 1.7rem;
		font-family: "Georgia";
		font-weight: bold;
	}

	.article-principal h3
  	{
    	font-size: 1.3rem;
  	}
}


.summary_article
{
	text-align: justify;
	font-size: 1.1rem;
	font-family: "Georgia";
}

.information_radio
{
	font-size: 1.05rem;
	font-family: "Georgia";	
}

.fecha_article
{
	color: #A4A4A4;
}

.image
{
	width: 100%;
}

.more_article
{
	padding: 0px;
	border-bottom: 1px solid #A4A4A4;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.title_more_article
{
	font-size: small;
	font-weight: bold; 
	font-weight:700;
}

.content_article
{
	margin-top: 20px;
	font-size: 1.1rem;
	font-family: "Georgia";
	/*text-align: justify;*/
}
	
p
{
	/*font-size: 1.1rem;
	font-family: "Georgia";*/
}

.banner-block
{
	display: block;
	position: fixed;
	color: #FFFFFF;
	background: black;
	z-index: 101;
	width: 100%;
}

.publicidad_etiqueta
{
	background: #F78181;
	font-family: "Arial";
	color: white;
	padding: 3px;
	margin-bottom: 3px;
}

.empresarial_etiqueta
{
	background: #4F87D7;
	font-family: "Arial";
	color: white;
	padding: 3px;
	margin-top: 25px;
}

.play_en_vivo
{
	height: 40px;
}

.image_play
{
	height: 40px;
}

.redes_etiqueta>a>i
{
	position: absolute;
	/*background-color: #690;
	color: #FFFFFF;
	padding: 3px;*/
}

.redes_etiqueta
{
	float: right;
}

.container
{
	max-width: 1140px;
}

.error
{
	color: red;
	font-size: 13px;
}

p img
{
	width: 100%;
	height: auto;
}

/*Seccion de FOOTER*/
footer {
    background-color: rgba(44, 62, 80, 1.0);

    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}
.footerHeader{
    width:100%;
    padding:1em;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
} 
.sm li a img {
    width:32px;
}

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}